* { box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.cabecalho{
    background-color: yellowgreen;
}
.logo{
    padding: 10px 20px;
}
#id_logo{
    height: 100px;
    right: 100px;
}
.naveg{
    background-color: rgb(145, 209, 225);
    height: 40px; 
    width: 100%;
    
}
.cnaveg{
    background-color: rgba(255, 255, 0, 0.654);
    margin: 20px;
    margin-bottom: 10px;
    float: left;
    color:#000 ;
    text-align: center;
    border-width: thin;
    padding: 0px;
}